*{
	margin:0px;
	padding: 0px;
}
ul{
	list-style: none;
}
body{
	font-family:宋体;
	color: #14191e;
	width: 331px
}
.main{
	width: 331px;
	height: 150px;
	margin: 30px auto;
	overflow: hidden;
	position: relative;
}
.banner{
	width: 331px;
	height: 150px;
	position: absolute;
	top: 20px;
}
.slide1{
	background-image: url(1.1.jpg);
	background-position: center center;
	background-size: contain;
	width: 331px;
	height: 100px;
	z-index: 500;
}
.slide2{
	background-image: url(1.2.jpg);
	background-position: center center;
	background-size: contain;
	width: 331px;
	height: 100px;
}
.slide3{
	background-image: url(1.3.jpg);
	background-position: center center;
	background-size: contain;
	width: 331px;
	height: 100px;
}
.slide4{
	background-image: url(1.4.jpg);
	background-position: center center;
	background-size: contain;
	width: 331px;
	height: 100px;
}
.slide5{
	background-image: url(1.5.jpg);
	background-position: center center;
	background-size: contain;
	width: 331px;
	height: 100px;
}
.slide6{
	background-image: url(1.6.jpg);
	background-position: center center;
	background-size: contain;
	width: 331px;
	height: 100px;
}
.banner-slide{
	width: 331px;
	height: 150px;
	position: absolute;
	background-repeat: no-repeat;
	display: none;
}
.slide-active{
	display: block;
}
.head{
	height: 150px;
	width: 331px;
	background-color: lightblue;
}
.search{
	height: 25px;
	width: 270px;
	background-color: white;
	position: absolute;
	left: 30px;
	top: 40px;
	border-radius: 10%;
	z-index: 5000;
}
.search img{
	position: absolute;
	left: 10px;
	top: 3px;
}
.search input{
    position: absolute;
	left:40px;
	top: 5px;
}
.b{
	font-size: 7px;
}
.con{		
 	width: 331px;
 	position: absolute;
 	top: 620px;
 	left: 0px;
	background-color: white;
	font-size: 12px;
}
.pre:link{color: yellow;}
     a:link{color: black; text-decoration:none;}
     a:active{color: yellow;}
     a:hover{color: yellow;}
     a:visited{color:yellow;}
     
