*{
	padding: 5px;
	margin: 5px;
}

.all{
	height: 500px;
	width: 800px;
	border-style: solid;
	border-right-color: black;
}

.menu-1{
	background:#afaaae;
	width: 200px;
	height: 460px;
	z-index: 1;
}