*{
	padding: 0px;
	margin: 0px;
	height: 700px;
	width: 1198.4px;
}

.all{
	height: 700px;
	width: 1198.4px;
}

.menu-1{
	background:#e4e1ec;
	width: 25%;
	height: 100%;
	float: left;
	box-shadow: 0 0 0 4px #acacac;
	display: inline-block;
}
.main{
	width: 94%;
	height: 10%;
	font-size: 30px;
	background-color: #acacac;
	padding: 10px 10px;
	text-align: center;
	line-height: 70px;
	display: block;
}
.blog{
	width: 90%;
	height: 10%;
	font-size: 30px;
	padding: 5px 10px;
	position: relative;
	top: 30px;
	left: 15px;
	display: block;
	border-bottom: 3px solid rgba(255, 255, 255, 0.5);

}
.video{
	width: 90%;
	height: 10%;
	font-size: 30px;
	padding: 10px 10px;
	position: relative;
	top: 60px;
	left: 15px;
	display: block;
	border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.login{
	width: 90%;
	height: 10%;
	font-size: 30px;
	padding: 10px 10px;
	position: relative;
	top: 90px;
	left: 15px;
	display: block;
	border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}


.menu-2{
	width: 75%;
	height: 100%;
	display: inline-block;
	position: relative;
}

/*标题*/
.title{
	display: block;
	background-color: #9778d5;
	width: 100%;
	height: 10%;
	position: relative;
	left: 8px;
	box-shadow: 4px 4px 0 0px #acacac;
}

.p{
	color: white;
	font-size: 40px;
	text-align: center;
	line-height: 60px;
	position: relative;
	left: -150px;
}

.s-title{
	display:inline-block;
	position: relative;
	left: 20px;
	top: 70px;
	width: 200px;
	height: 70px;
	background-color: #c8ccef; 
	border-radius: 5%;
	box-shadow: 4px 4px #acacac;
	padding: 5px;
	margin: 15px;
	font-size: 25px;
	text-align: center;
	line-height: 70px;
}

.title1{
	position: absolute;
	left: 30px;
}

.title2{
	position: absolute;
	left: 330px;
}

.title3{
	position: absolute;
	left: 630px;
}

.menu-3{
	width:860px;
	height: 500px;
	background-color: #ede6f8;
	display: inline-block;
	position: relative;
	top: -510px;
	left: -10px;
	float: right;
	box-shadow: 4px 4px 0 0px #acacac;
}

.active{
	background-color: #adadad;
}

.active2{
	box-shadow: 5px 5px #acacac inset;
	background-color: #b9bee6;
}