		* {
			margin: 0;
			padding: 0;
		}

		html,body {
			height: 100%;
		}
		.warp{
			height: 100%;
			width: 260px;
			background-color: #363a45;
		}
		.head{
			width: 100%;
			height: 60px;
			background-color: #44495a;
			font-size: 25px;
			color: #fff;
			line-height: 60px; /*垂直居中*/
			text-align: center;/*水平居中*/
		}
		.nav{
			width: 250px;
			margin: 10px 5px;/*上下10px 左右5px*/
			/*border: 1px solid red;*/
		}
		.nav-list{
			margin-bottom: 2px;
		}
		.nav-list h2{
			position: relative;
			padding: 15px 0; /*自适应撑开*/    /*可维护性*/
			background-color: #3889d4;
			text-align: center;/*水平居中*/
			color: #fff;
			font-size: 20px;
		}
		.nav-list h2.on{
			background-color:#393c4a;
		}
		.nav-list i{
			position: absolute;
			right: 4px;
			top: 16px;
			border: 8px solid transparent;/*透明色*/
			border-left-color: #fff; /*向右三角形*/
			transform: rotate(0deg);
			transform-origin: 1px 7px;/*css3转动基点*/
		}

		.nav-list i.on{
			transform: rotate(90deg);
		}

		.hide{
			overflow: hidden;
			height: 0;
			transition: 1s;
		}

		.hide h5{
			padding: 10px 0;
			background-color: #282c3a;
			text-align: center;
			border-bottom: 1px solid #42495d; /*底部*/
			color: #fff;
		}
