*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
body{
	font-family: :"微软雅黑";
	color:#14161e;
}
.main{
	width: 120px;
	height: 460px;
	margin: 30px auto;
	overflow: hidden;
}
.banner{
	width: 1200px;
	height: 460px;
}
.banner-slide{
	width: 1200px;
	height: 460px;
	background-repeat: no-repeat;
}
.slide1{
	background-image: url(1.1.jpg);
	background-position: center center;
	background-size: contain;
	width: 331px;
	height: 100px;
	z-index: 500;
}