*{
	margin:0;
	padding:0;
}

a:link{
	text-decoration:none;
}

body{
	font-family:"微软雅黑";
	color: #14191e;
}

.main{
	width:1200px;
	height:460px;
	margin:30px auto;
	position:relative;
	overflow:hidden;
}

.banner{
	width:1200px;
	height:460px;
	overflow:hidden;
	position:relative;
}

.banner-slide{
	width:1200px;
	height:460px;
	background-repeat:no-repeat;
	float:left;
	display:none;
}

.slide-active{
	display:block;
}

.slide1{
	background-image:url(bg1.jpg);
}

.slide2{
	background-image:url(bg2.jpg);
}

.slide3{
	background-image:url(bg3.jpg);
}

.button{
    position: absolute;
    transform:rotate(180deg);
    top: 50%;
    left: 244px;
    height: 80px;
    width: 40px;
    margin-top:-40px;
    background:url(arrow.png) center center no-repeat;
}

.button:hover{
	background-color: #333;
	opacity: 0.5;
	filter: alpha(opacity=50); /*兼容浏览器*/
}

.next{
	left: auto;
	right: 0;
	transform: rotate(0deg);
}

.prev{
	transform: rotate(180deg);  /*水平翻转180度*/
}

.dots {
	position: absolute;
	bottom: 24px;
	right: 0;
	text-align: right;
	padding-right: 24px;
	line-height: 12px;
}

.dots span {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-left: 8px;
	background-color: rgba(7, 17, 27, 0.4);
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
	cursor: pointer;/*光标上去是小手样式*/
}

.dots span.active{
	box-shadow: 0 0 0 2px rgba(7, 17, 27, 0.4) inset;
	background-color: #ffffff;
}

/* menu-box */
.menu-box {
	background:rgba(7, 17, 27, 0.5);
	position: absolute;
	left: 0px;
	top: 0px;
	width: 244px;
	height: 460px;
	z-index: 1;
}

.menu-contect{
	width: 244px;
	height: 454px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	padding-top: 6px;
}

.menu-item{
	height: 64px;
	line-height: 66px;
	font-size: 16px;
	padding: 0 24px;
	position: relative;
}

.menu-item a:link,.menu-item a:visited{
	color: white;
	text-decoration:none;
}

.menu-item a{
	display: block;
	color: #fff;
	padding: 0 8px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	height: 63px;
}

.menu-item img{
	height:10px; 
	width:auto; 
	position:absolute; 
	top:30px; 
	left:200px;
}

.sub-menu{
	background: #fff;
	width: 730px;
	height: 458px;
	border:1px solid #d9dde1;
	position: absolute;
	left: 244px;
	top: 0;
	z-index: 99;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

.inner-box{
	width:100%;
	height:100%;
	background:url(fe.png) no-repeat;
}

.sub-inner-box{
	width: 652px;
	margin-left: 40px;
	overflow: hidden; /*超出的部分隐藏掉*/
}

.title{
	color: #f01414;
	font-size: 16px;
	line-height: 16px;
	margin-top: 28px;
	font-weight: bold;
	margin-bottom: 30px;
}

.sub-row{
	margin-bottom:25px;
}

.sub-row{
	margin-bottom:25px;
}

.bold{
	font-weight:700;
}

.mr10{
	margin-right:10px;
}

.ml10{
	margin-left:10px;
}

.hide{
	display: none;
}