*{
	margin:10px;
	padding:10px;
}

.banner{
	width:500px;
	height:500px;
	overflow:hidden;
	position:relative;
}

.slide{
	width:500px;
	height:500px;
	display:none;
}

.active{
	display:block;
}